@import url('https://themes.googleusercontent.com/fonts/css?kit=cGvuclDC_Z1vE_cnVEU6Ae_NZQ7StBcqH_vXVqoPMX0');

.lst-kix_list_4-1>li {
    counter-increment: lst-ctn-kix_list_4-1
}

.lst-kix_u12dwo339v7e-5>li:before {
    content: "\0025a0  "
}

.lst-kix_f90tmlyeiq78-7>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-7
}

.lst-kix_u12dwo339v7e-3>li:before {
    content: "\0025cf  "
}

.lst-kix_u12dwo339v7e-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_u12dwo339v7e-4>li:before {
    content: "\0025cb  "
}

.lst-kix_u12dwo339v7e-8>li:before {
    content: "\0025a0  "
}

ol.lst-kix_list_3-1.start {
    counter-reset: lst-ctn-kix_list_3-1 0
}

.lst-kix_u12dwo339v7e-6>li:before {
    content: "\0025cf  "
}

ol.lst-kix_xmflyhenddll-0.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-0 0
}

ul.lst-kix_list_1-3 {
    list-style-type: none
}

ul.lst-kix_list_1-4 {
    list-style-type: none
}

ul.lst-kix_list_1-1 {
    list-style-type: none
}

ul.lst-kix_list_1-2 {
    list-style-type: none
}

ul.lst-kix_list_1-7 {
    list-style-type: none
}

ul.lst-kix_list_1-8 {
    list-style-type: none
}

.lst-kix_xmflyhenddll-3>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-3
}

ul.lst-kix_list_1-5 {
    list-style-type: none
}

ul.lst-kix_list_1-6 {
    list-style-type: none
}

ol.lst-kix_gg1ysw8aw9tp-3.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-3 0
}

.lst-kix_gg1ysw8aw9tp-1>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-1
}

.lst-kix_b1yjov9mndiw-7>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-7
}

.lst-kix_list_4-3>li {
    counter-increment: lst-ctn-kix_list_4-3
}

ol.lst-kix_b1yjov9mndiw-3.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-3 0
}

ol.lst-kix_list_4-5.start {
    counter-reset: lst-ctn-kix_list_4-5 0
}

.lst-kix_xmflyhenddll-1>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-1
}

ol.lst-kix_f90tmlyeiq78-5.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-5 0
}

ol.lst-kix_list_3-7.start {
    counter-reset: lst-ctn-kix_list_3-7 0
}

.lst-kix_u12dwo339v7e-0>li:before {
    content: "\0025cf  "
}

.lst-kix_u12dwo339v7e-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_3-2>li {
    counter-increment: lst-ctn-kix_list_3-2
}

.lst-kix_u12dwo339v7e-2>li:before {
    content: "\0025a0  "
}

.lst-kix_b1yjov9mndiw-0>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-0
}

ol.lst-kix_b1yjov9mndiw-4.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-4 0
}

.lst-kix_list_3-0>li {
    counter-increment: lst-ctn-kix_list_3-0
}

ol.lst-kix_list_4-0.start {
    counter-reset: lst-ctn-kix_list_4-0 0
}

.lst-kix_list_3-6>li {
    counter-increment: lst-ctn-kix_list_3-6
}

ol.lst-kix_gg1ysw8aw9tp-8.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-8 0
}

.lst-kix_f90tmlyeiq78-5>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-5
}

.lst-kix_gg1ysw8aw9tp-3>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-3
}

ol.lst-kix_list_3-2.start {
    counter-reset: lst-ctn-kix_list_3-2 0
}

.lst-kix_xmflyhenddll-8>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-8, lower-roman) ". "
}

.lst-kix_gg1ysw8aw9tp-8>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-8
}

.lst-kix_list_2-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_2-5>li:before {
    content: "\0025a0  "
}

ol.lst-kix_f90tmlyeiq78-1.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-1 0
}

.lst-kix_f90tmlyeiq78-1>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-1
}

.lst-kix_xmflyhenddll-6>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-6, decimal) ". "
}

ol.lst-kix_list_4-6.start {
    counter-reset: lst-ctn-kix_list_4-6 0
}

ol.lst-kix_list_3-0.start {
    counter-reset: lst-ctn-kix_list_3-0 0
}

ol.lst-kix_list_4-3.start {
    counter-reset: lst-ctn-kix_list_4-3 0
}

.lst-kix_f90tmlyeiq78-0>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-0
}

.lst-kix_list_4-7>li {
    counter-increment: lst-ctn-kix_list_4-7
}

.lst-kix_gg1ysw8aw9tp-1>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-1, lower-latin) ". "
}

.lst-kix_list_4-1>li:before {
    content: "" counter(lst-ctn-kix_list_4-1, lower-latin) ". "
}

.lst-kix_b1yjov9mndiw-4>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-4
}

.lst-kix_xmflyhenddll-0>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-0, decimal) ". "
}

.lst-kix_list_4-3>li:before {
    content: "" counter(lst-ctn-kix_list_4-3, decimal) ". "
}

.lst-kix_list_4-5>li:before {
    content: "" counter(lst-ctn-kix_list_4-5, lower-roman) ". "
}

.lst-kix_gg1ysw8aw9tp-7>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-7
}

.lst-kix_xmflyhenddll-4>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-4, lower-latin) ". "
}

.lst-kix_list_3-5>li {
    counter-increment: lst-ctn-kix_list_3-5
}

ol.lst-kix_xmflyhenddll-1.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-1 0
}

.lst-kix_xmflyhenddll-2>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-2, lower-roman) ". "
}

.lst-kix_list_3-4>li {
    counter-increment: lst-ctn-kix_list_3-4
}

ol.lst-kix_list_4-4.start {
    counter-reset: lst-ctn-kix_list_4-4 0
}

.lst-kix_b1yjov9mndiw-5>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-5
}

ul.lst-kix_list_2-8 {
    list-style-type: none
}

ul.lst-kix_list_2-2 {
    list-style-type: none
}

ul.lst-kix_list_2-3 {
    list-style-type: none
}

ul.lst-kix_list_2-0 {
    list-style-type: none
}

.lst-kix_k36rnhq3bscv-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_2-1 {
    list-style-type: none
}

ol.lst-kix_b1yjov9mndiw-1.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-1 0
}

ul.lst-kix_list_2-6 {
    list-style-type: none
}

.lst-kix_list_1-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_2-7 {
    list-style-type: none
}

ul.lst-kix_list_2-4 {
    list-style-type: none
}

ul.lst-kix_list_2-5 {
    list-style-type: none
}

.lst-kix_list_1-3>li:before {
    content: "\0025cf  "
}

.lst-kix_k36rnhq3bscv-3>li:before {
    content: "\0025cf  "
}

.lst-kix_k36rnhq3bscv-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_veeg7gwdq0jz-3 {
    list-style-type: none
}

ul.lst-kix_veeg7gwdq0jz-2 {
    list-style-type: none
}

.lst-kix_gg1ysw8aw9tp-3>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-3, decimal) ". "
}

.lst-kix_gg1ysw8aw9tp-7>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-7, lower-latin) ". "
}

.lst-kix_xmflyhenddll-5>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-5
}

ul.lst-kix_veeg7gwdq0jz-1 {
    list-style-type: none
}

ul.lst-kix_veeg7gwdq0jz-0 {
    list-style-type: none
}

.lst-kix_list_4-8>li {
    counter-increment: lst-ctn-kix_list_4-8
}

.lst-kix_list_1-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_1-5>li:before {
    content: "\0025a0  "
}

.lst-kix_gg1ysw8aw9tp-5>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-5, lower-roman) ". "
}

ol.lst-kix_b1yjov9mndiw-2.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-2 0
}

.lst-kix_list_2-1>li:before {
    content: "\0025cb  "
}

ol.lst-kix_f90tmlyeiq78-0.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-0 0
}

.lst-kix_list_2-3>li:before {
    content: "\0025cf  "
}

.lst-kix_k36rnhq3bscv-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_4-2>li {
    counter-increment: lst-ctn-kix_list_4-2
}

ol.lst-kix_list_3-1 {
    list-style-type: none
}

.lst-kix_f90tmlyeiq78-6>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-6, decimal) ". "
}

ol.lst-kix_list_3-2 {
    list-style-type: none
}

.lst-kix_b1yjov9mndiw-7>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-7, lower-latin) ". "
}

.lst-kix_list_3-1>li {
    counter-increment: lst-ctn-kix_list_3-1
}

ol.lst-kix_list_3-3 {
    list-style-type: none
}

ol.lst-kix_list_3-4.start {
    counter-reset: lst-ctn-kix_list_3-4 0
}

ol.lst-kix_list_3-4 {
    list-style-type: none
}

.lst-kix_f90tmlyeiq78-4>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-4, lower-latin) ". "
}

.lst-kix_f90tmlyeiq78-8>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-8, lower-roman) ". "
}

.lst-kix_b1yjov9mndiw-5>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-5, lower-roman) ". "
}

.lst-kix_gg1ysw8aw9tp-2>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-2
}

.lst-kix_f90tmlyeiq78-3>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-3, decimal) ". "
}

.lst-kix_f90tmlyeiq78-7>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-7, lower-latin) ". "
}

.lst-kix_b1yjov9mndiw-6>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-6, decimal) ". "
}

ol.lst-kix_list_3-0 {
    list-style-type: none
}

ol.lst-kix_b1yjov9mndiw-6.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-6 0
}

.lst-kix_f90tmlyeiq78-2>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-2, lower-roman) ". "
}

ol.lst-kix_xmflyhenddll-3.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-3 0
}

.lst-kix_list_3-0>li:before {
    content: "" counter(lst-ctn-kix_list_3-0, decimal) ". "
}

.lst-kix_b1yjov9mndiw-8>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-8, lower-roman) ". "
}

.lst-kix_f90tmlyeiq78-1>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-1, lower-latin) ". "
}

.lst-kix_b1yjov9mndiw-0>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-0, decimal) ". "
}

.lst-kix_list_3-1>li:before {
    content: "" counter(lst-ctn-kix_list_3-1, lower-latin) ". "
}

.lst-kix_list_3-2>li:before {
    content: "" counter(lst-ctn-kix_list_3-2, lower-roman) ". "
}

ol.lst-kix_f90tmlyeiq78-8 {
    list-style-type: none
}

.lst-kix_f90tmlyeiq78-0>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-0, decimal) ". "
}

ol.lst-kix_f90tmlyeiq78-7 {
    list-style-type: none
}

.lst-kix_b1yjov9mndiw-1>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-1, lower-latin) ". "
}

ol.lst-kix_f90tmlyeiq78-6 {
    list-style-type: none
}

.lst-kix_list_4-0>li {
    counter-increment: lst-ctn-kix_list_4-0
}

ol.lst-kix_f90tmlyeiq78-5 {
    list-style-type: none
}

.lst-kix_b1yjov9mndiw-2>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-2, lower-roman) ". "
}

ol.lst-kix_f90tmlyeiq78-4 {
    list-style-type: none
}

ul.lst-kix_veeg7gwdq0jz-7 {
    list-style-type: none
}

.lst-kix_list_3-5>li:before {
    content: "" counter(lst-ctn-kix_list_3-5, lower-roman) ". "
}

ol.lst-kix_f90tmlyeiq78-3 {
    list-style-type: none
}

.lst-kix_b1yjov9mndiw-3>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-3, decimal) ". "
}

ol.lst-kix_b1yjov9mndiw-8 {
    list-style-type: none
}

ul.lst-kix_veeg7gwdq0jz-6 {
    list-style-type: none
}

ol.lst-kix_f90tmlyeiq78-2 {
    list-style-type: none
}

ul.lst-kix_veeg7gwdq0jz-5 {
    list-style-type: none
}

.lst-kix_list_3-4>li:before {
    content: "" counter(lst-ctn-kix_list_3-4, lower-latin) ". "
}

ol.lst-kix_f90tmlyeiq78-1 {
    list-style-type: none
}

ul.lst-kix_veeg7gwdq0jz-4 {
    list-style-type: none
}

ol.lst-kix_f90tmlyeiq78-0 {
    list-style-type: none
}

ol.lst-kix_gg1ysw8aw9tp-6.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-6 0
}

.lst-kix_list_3-3>li:before {
    content: "" counter(lst-ctn-kix_list_3-3, decimal) ". "
}

ol.lst-kix_list_3-5 {
    list-style-type: none
}

ol.lst-kix_list_3-6 {
    list-style-type: none
}

ol.lst-kix_list_3-7 {
    list-style-type: none
}

.lst-kix_b1yjov9mndiw-4>li:before {
    content: "" counter(lst-ctn-kix_b1yjov9mndiw-4, lower-latin) ". "
}

ul.lst-kix_veeg7gwdq0jz-8 {
    list-style-type: none
}

ol.lst-kix_list_3-8 {
    list-style-type: none
}

ol.lst-kix_f90tmlyeiq78-2.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-2 0
}

ol.lst-kix_b1yjov9mndiw-0 {
    list-style-type: none
}

ol.lst-kix_b1yjov9mndiw-1 {
    list-style-type: none
}

.lst-kix_qe4ryx414l01-6>li:before {
    content: "\0025cf  "
}

.lst-kix_qe4ryx414l01-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_3-8>li:before {
    content: "" counter(lst-ctn-kix_list_3-8, lower-roman) ". "
}

ol.lst-kix_b1yjov9mndiw-2 {
    list-style-type: none
}

ol.lst-kix_b1yjov9mndiw-3 {
    list-style-type: none
}

ol.lst-kix_b1yjov9mndiw-4 {
    list-style-type: none
}

ol.lst-kix_b1yjov9mndiw-5 {
    list-style-type: none
}

.lst-kix_qe4ryx414l01-5>li:before {
    content: "\0025a0  "
}

ol.lst-kix_b1yjov9mndiw-6 {
    list-style-type: none
}

.lst-kix_f90tmlyeiq78-6>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-6
}

ol.lst-kix_b1yjov9mndiw-7 {
    list-style-type: none
}

.lst-kix_qe4ryx414l01-2>li:before {
    content: "\0025a0  "
}

.lst-kix_qe4ryx414l01-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_3-6>li:before {
    content: "" counter(lst-ctn-kix_list_3-6, decimal) ". "
}

ol.lst-kix_gg1ysw8aw9tp-1 {
    list-style-type: none
}

.lst-kix_list_3-7>li:before {
    content: "" counter(lst-ctn-kix_list_3-7, lower-latin) ". "
}

ol.lst-kix_gg1ysw8aw9tp-0 {
    list-style-type: none
}

.lst-kix_qe4ryx414l01-4>li:before {
    content: "\0025cb  "
}

ol.lst-kix_gg1ysw8aw9tp-3 {
    list-style-type: none
}

.lst-kix_gg1ysw8aw9tp-4>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-4
}

ol.lst-kix_gg1ysw8aw9tp-2 {
    list-style-type: none
}

ol.lst-kix_gg1ysw8aw9tp-5 {
    list-style-type: none
}

.lst-kix_xmflyhenddll-4>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-4
}

ol.lst-kix_gg1ysw8aw9tp-4 {
    list-style-type: none
}

ol.lst-kix_gg1ysw8aw9tp-7 {
    list-style-type: none
}

ol.lst-kix_gg1ysw8aw9tp-6 {
    list-style-type: none
}

ol.lst-kix_gg1ysw8aw9tp-0.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-0 0
}

ol.lst-kix_gg1ysw8aw9tp-8 {
    list-style-type: none
}

.lst-kix_qe4ryx414l01-1>li:before {
    content: "\0025cb  "
}

ol.lst-kix_list_4-2.start {
    counter-reset: lst-ctn-kix_list_4-2 0
}

ol.lst-kix_b1yjov9mndiw-0.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-0 0
}

.lst-kix_qe4ryx414l01-0>li:before {
    content: "\0025cf  "
}

ol.lst-kix_f90tmlyeiq78-8.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-8 0
}

.lst-kix_veeg7gwdq0jz-0>li:before {
    content: "\0025cf  "
}

ol.lst-kix_xmflyhenddll-8.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-8 0
}

.lst-kix_list_4-4>li {
    counter-increment: lst-ctn-kix_list_4-4
}

ol.lst-kix_gg1ysw8aw9tp-7.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-7 0
}

.lst-kix_veeg7gwdq0jz-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_4-8>li:before {
    content: "" counter(lst-ctn-kix_list_4-8, lower-roman) ". "
}

.lst-kix_list_4-7>li:before {
    content: "" counter(lst-ctn-kix_list_4-7, lower-latin) ". "
}

.lst-kix_veeg7gwdq0jz-4>li:before {
    content: "\0025cb  "
}

.lst-kix_veeg7gwdq0jz-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_k36rnhq3bscv-7 {
    list-style-type: none
}

ul.lst-kix_k36rnhq3bscv-8 {
    list-style-type: none
}

.lst-kix_b1yjov9mndiw-6>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-6
}

ul.lst-kix_k36rnhq3bscv-5 {
    list-style-type: none
}

ul.lst-kix_k36rnhq3bscv-6 {
    list-style-type: none
}

ol.lst-kix_list_4-1.start {
    counter-reset: lst-ctn-kix_list_4-1 0
}

ol.lst-kix_list_4-8.start {
    counter-reset: lst-ctn-kix_list_4-8 0
}

ul.lst-kix_k36rnhq3bscv-0 {
    list-style-type: none
}

.lst-kix_xmflyhenddll-0>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-0
}

ol.lst-kix_list_3-3.start {
    counter-reset: lst-ctn-kix_list_3-3 0
}

ol.lst-kix_gg1ysw8aw9tp-1.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-1 0
}

.lst-kix_veeg7gwdq0jz-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_k36rnhq3bscv-3 {
    list-style-type: none
}

.lst-kix_xmflyhenddll-6>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-6
}

ul.lst-kix_k36rnhq3bscv-4 {
    list-style-type: none
}

.lst-kix_qe4ryx414l01-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_k36rnhq3bscv-1 {
    list-style-type: none
}

.lst-kix_veeg7gwdq0jz-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_k36rnhq3bscv-2 {
    list-style-type: none
}

ol.lst-kix_xmflyhenddll-2.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-2 0
}

.lst-kix_list_3-3>li {
    counter-increment: lst-ctn-kix_list_3-3
}

.lst-kix_f90tmlyeiq78-2>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-2
}

.lst-kix_veeg7gwdq0jz-6>li:before {
    content: "\0025cf  "
}

.lst-kix_veeg7gwdq0jz-8>li:before {
    content: "\0025a0  "
}

.lst-kix_gg1ysw8aw9tp-6>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-6
}

.lst-kix_veeg7gwdq0jz-7>li:before {
    content: "\0025cb  "
}

ol.lst-kix_f90tmlyeiq78-3.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-3 0
}

.lst-kix_f90tmlyeiq78-5>li:before {
    content: "" counter(lst-ctn-kix_f90tmlyeiq78-5, lower-roman) ". "
}

ol.lst-kix_b1yjov9mndiw-5.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-5 0
}

ol.lst-kix_list_4-7.start {
    counter-reset: lst-ctn-kix_list_4-7 0
}

.lst-kix_gg1ysw8aw9tp-0>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-0
}

.lst-kix_f90tmlyeiq78-8>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-8
}

.lst-kix_list_2-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_3-7>li {
    counter-increment: lst-ctn-kix_list_3-7
}

.lst-kix_xmflyhenddll-7>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-7, lower-latin) ". "
}

ol.lst-kix_gg1ysw8aw9tp-2.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-2 0
}

.lst-kix_list_2-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_2-8>li:before {
    content: "\0025a0  "
}

.lst-kix_xmflyhenddll-5>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-5, lower-roman) ". "
}

.lst-kix_b1yjov9mndiw-2>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-2
}

ol.lst-kix_xmflyhenddll-2 {
    list-style-type: none
}

ol.lst-kix_xmflyhenddll-3 {
    list-style-type: none
}

ol.lst-kix_xmflyhenddll-0 {
    list-style-type: none
}

ol.lst-kix_xmflyhenddll-1 {
    list-style-type: none
}

ol.lst-kix_xmflyhenddll-6 {
    list-style-type: none
}

ol.lst-kix_xmflyhenddll-7 {
    list-style-type: none
}

.lst-kix_b1yjov9mndiw-3>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-3
}

ol.lst-kix_xmflyhenddll-4 {
    list-style-type: none
}

ol.lst-kix_xmflyhenddll-5 {
    list-style-type: none
}

.lst-kix_gg1ysw8aw9tp-0>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-0, decimal) ". "
}

ol.lst-kix_xmflyhenddll-8 {
    list-style-type: none
}

.lst-kix_gg1ysw8aw9tp-2>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-2, lower-roman) ". "
}

ol.lst-kix_f90tmlyeiq78-4.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-4 0
}

ol.lst-kix_list_3-8.start {
    counter-reset: lst-ctn-kix_list_3-8 0
}

.lst-kix_b1yjov9mndiw-1>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-1
}

ol.lst-kix_xmflyhenddll-7.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-7 0
}

.lst-kix_list_4-0>li:before {
    content: "" counter(lst-ctn-kix_list_4-0, decimal) ". "
}

ol.lst-kix_b1yjov9mndiw-7.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-7 0
}

.lst-kix_list_3-8>li {
    counter-increment: lst-ctn-kix_list_3-8
}

.lst-kix_list_4-6>li {
    counter-increment: lst-ctn-kix_list_4-6
}

.lst-kix_xmflyhenddll-7>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-7
}

.lst-kix_list_4-4>li:before {
    content: "" counter(lst-ctn-kix_list_4-4, lower-latin) ". "
}

ul.lst-kix_u12dwo339v7e-0 {
    list-style-type: none
}

.lst-kix_xmflyhenddll-1>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-1, lower-latin) ". "
}

ul.lst-kix_u12dwo339v7e-1 {
    list-style-type: none
}

ul.lst-kix_u12dwo339v7e-2 {
    list-style-type: none
}

ul.lst-kix_u12dwo339v7e-3 {
    list-style-type: none
}

.lst-kix_list_4-2>li:before {
    content: "" counter(lst-ctn-kix_list_4-2, lower-roman) ". "
}

.lst-kix_list_4-6>li:before {
    content: "" counter(lst-ctn-kix_list_4-6, decimal) ". "
}

ol.lst-kix_xmflyhenddll-4.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-4 0
}

ul.lst-kix_u12dwo339v7e-4 {
    list-style-type: none
}

ul.lst-kix_u12dwo339v7e-5 {
    list-style-type: none
}

ul.lst-kix_u12dwo339v7e-6 {
    list-style-type: none
}

ul.lst-kix_u12dwo339v7e-7 {
    list-style-type: none
}

ul.lst-kix_u12dwo339v7e-8 {
    list-style-type: none
}

.lst-kix_xmflyhenddll-3>li:before {
    content: "" counter(lst-ctn-kix_xmflyhenddll-3, decimal) ". "
}

ol.lst-kix_list_4-0 {
    list-style-type: none
}

.lst-kix_gg1ysw8aw9tp-5>li {
    counter-increment: lst-ctn-kix_gg1ysw8aw9tp-5
}

ol.lst-kix_list_4-1 {
    list-style-type: none
}

ol.lst-kix_list_4-2 {
    list-style-type: none
}

ol.lst-kix_list_4-3 {
    list-style-type: none
}

ol.lst-kix_list_3-6.start {
    counter-reset: lst-ctn-kix_list_3-6 0
}

ol.lst-kix_gg1ysw8aw9tp-4.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-4 0
}

.lst-kix_f90tmlyeiq78-4>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-4
}

ol.lst-kix_f90tmlyeiq78-6.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-6 0
}

ol.lst-kix_xmflyhenddll-5.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-5 0
}

ol.lst-kix_list_4-8 {
    list-style-type: none
}

.lst-kix_list_1-0>li:before {
    content: "\0025cf  "
}

.lst-kix_f90tmlyeiq78-3>li {
    counter-increment: lst-ctn-kix_f90tmlyeiq78-3
}

ol.lst-kix_list_4-4 {
    list-style-type: none
}

ol.lst-kix_list_4-5 {
    list-style-type: none
}

.lst-kix_list_1-2>li:before {
    content: "\0025a0  "
}

ol.lst-kix_list_4-6 {
    list-style-type: none
}

.lst-kix_k36rnhq3bscv-8>li:before {
    content: "\0025a0  "
}

ol.lst-kix_list_4-7 {
    list-style-type: none
}

.lst-kix_gg1ysw8aw9tp-6>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-6, decimal) ". "
}

.lst-kix_list_1-4>li:before {
    content: "\0025cb  "
}

ol.lst-kix_list_3-5.start {
    counter-reset: lst-ctn-kix_list_3-5 0
}

.lst-kix_gg1ysw8aw9tp-4>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-4, lower-latin) ". "
}

.lst-kix_gg1ysw8aw9tp-8>li:before {
    content: "" counter(lst-ctn-kix_gg1ysw8aw9tp-8, lower-roman) ". "
}

ul.lst-kix_qe4ryx414l01-0 {
    list-style-type: none
}

ul.lst-kix_qe4ryx414l01-1 {
    list-style-type: none
}

ol.lst-kix_f90tmlyeiq78-7.start {
    counter-reset: lst-ctn-kix_f90tmlyeiq78-7 0
}

.lst-kix_k36rnhq3bscv-2>li:before {
    content: "\0025a0  "
}

.lst-kix_k36rnhq3bscv-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_qe4ryx414l01-4 {
    list-style-type: none
}

ul.lst-kix_qe4ryx414l01-5 {
    list-style-type: none
}

ul.lst-kix_qe4ryx414l01-2 {
    list-style-type: none
}

ul.lst-kix_qe4ryx414l01-3 {
    list-style-type: none
}

ul.lst-kix_qe4ryx414l01-8 {
    list-style-type: none
}

.lst-kix_xmflyhenddll-2>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-2
}

.lst-kix_list_1-6>li:before {
    content: "\0025cf  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_qe4ryx414l01-6 {
    list-style-type: none
}

.lst-kix_k36rnhq3bscv-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_qe4ryx414l01-7 {
    list-style-type: none
}

ol.lst-kix_gg1ysw8aw9tp-5.start {
    counter-reset: lst-ctn-kix_gg1ysw8aw9tp-5 0
}

.lst-kix_list_2-0>li:before {
    content: "\0025cf  "
}

ol.lst-kix_b1yjov9mndiw-8.start {
    counter-reset: lst-ctn-kix_b1yjov9mndiw-8 0
}

.lst-kix_list_4-5>li {
    counter-increment: lst-ctn-kix_list_4-5
}

.lst-kix_xmflyhenddll-8>li {
    counter-increment: lst-ctn-kix_xmflyhenddll-8
}

.lst-kix_list_1-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_2-2>li:before {
    content: "\0025a0  "
}

ol.lst-kix_xmflyhenddll-6.start {
    counter-reset: lst-ctn-kix_xmflyhenddll-6 0
}

.lst-kix_b1yjov9mndiw-8>li {
    counter-increment: lst-ctn-kix_b1yjov9mndiw-8
}

.lst-kix_k36rnhq3bscv-0>li:before {
    content: "\0025cf  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c21 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #f8f8f8;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 275.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c20 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 17pt;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c23 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c24 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial"
}

.c48 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: left;
    height: 20pt
}

.c30 {
    text-decoration-skip-ink: none;
    font-size: 17pt;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c32 {
    margin-left: 36pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c44 {
    padding-top: 0pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: left
}

.c40 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: center
}

.c36 {
    padding-top: 0pt;
    padding-bottom: 6pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: left
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: left;
    height: 11pt
}

.c39 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 4pt;
    line-height: 1.0;
    text-align: center
}

.c42 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: left
}

.c29 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c14 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: left
}

.c54 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    text-align: center
}

.c37 {
    color: #434343;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt
}

.c2 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #333333;
    font-weight: 400
}

.c43 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt
}

.c27 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: center
}

.c4 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #008080;
    font-weight: 400
}

.c1 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #333333;
    font-weight: 700
}

.c7 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #0086b3;
    font-weight: 400
}

.c33 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c25 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #990073;
    font-weight: 400
}

.c11 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: left
}

.c10 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #dd1144;
    font-weight: 400
}

.c56 {
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c15 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #999988;
    font-weight: 400
}

.c38 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c28 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt
}

.c9 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #999999
}

.c50 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c19 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #445588
}

.c26 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #990000
}

.c35 {
    font-weight: 400;
    font-family: "Arial"
}

.c13 {
    orphans: 2;
    widows: 2
}

.c18 {
    padding: 0;
    margin: 0
}

.c34 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c16 {
    color: inherit;
    text-decoration: inherit
}

.c55 {
    height: 231.2pt
}

.c47 {
    color: #b31217
}

.c5 {
    font-style: italic
}

.c46 {
    height: 14pt
}

.c17 {
    color: #0086b3
}

.c51 {
    color: #cccccc
}

.c22 {
    height: 0pt
}

.c49 {
    height: 111.8pt
}

.c8 {
    font-weight: 700
}

.c52 {
    height: 37.9pt
}

.c53 {
    height: 16pt
}

.c41 {
    font-size: 12pt
}

.c45 {
    height: 83.8pt
}

.c31 {
    font-style: normal
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}